<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
         PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
         "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
         
<mapper namespace="com.esh.start.board.qna.QnaDAO">

	<insert id="setReplyAdd" parameterType="QnaDTO">
		<selectKey keyProperty="num" order="BEFORE" resultType="Long">
			SELECT QNA_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO QNA 
		VALUES (${num}, #{title}, #{contents},#{writer}, sysdate, 0,#{ref},#{step},#{depth})
	</insert>
	
	<insert id="setAddFile" parameterType="BoardFileDTO">
		INSERT INTO QNAFILE (FILENUM, FILENAME, ORINAME, NUM)
		VALUES(FILE_SEQ.NEXTVAL, #{fileName}, #{oriName}, #{num})
	</insert>

	<update id="setStepUpdate" parameterType="QnaDTO">
		UPDATE QNA SET STEP=STEP+1
		WHERE REF=#{ref} AND STEP>#{step}
	</update>

	<select id="getList" resultType="QnaDTO" parameterType="Pager">
		SELECT *
		FROM 
		(SELECT ROWNUM R, N.* FROM 
		(SELECT * FROM QNA 
			WHERE
				<choose>
					<when test="kind == 'title'">TITLE</when>
					<when test="kind == 'writer'">WRITER</when>
					<otherwise>contents</otherwise> 
				</choose>
			LIKE '%'||#{search}||'%'
				
		
			 ORDER BY REF DESC, STEP ASC) N
		)
		WHERE R BETWEEN #{startRow} AND #{lastRow}
	</select>
	
	
	
	<select id="getCount" resultType="Long" parameterType="Pager">
		SELECT COUNT(NUM) FROM QNA WHERE
				<choose>
					<when test="kind == 'title'">TITLE</when>
					<when test="kind == 'writer'">WRITER</when>
					<otherwise>contents</otherwise> 
				</choose>
			LIKE '%'||#{search}||'%'
	</select>
	
	<select id="getDetail" parameterType="BoardDTO" resultMap="getDetailResult">
		SELECT Q.*, QF.*
		FROM QNA Q 
			LEFT JOIN
			QNAFILE QF
			ON Q.NUM = QF.NUM		
		WHERE Q.NUM=#{num}
	</select>
	
	<resultMap type="QnaDTO" id="getDetailResult">
		<id column="num" property="num"></id>
		<result column="title" property="title"></result>
		<result column="writer" property="writer"></result>
		<result column="contents" property="contents"></result>
		<result column="regDate" property="regDate"></result>
		<result column="hit" property="hit"></result>
		<result column="ref" property="ref"></result>
		<result column="step" property="step"></result>
		<result column="depth" property="depth"></result>
		<collection property="boardFileDTOs" javaType="List" ofType="BoardFileDTO">
			<id column="FILENUM" property="fileNum"></id>
			<result column = "FILENAME" property="fileName"></result>
			<result column = "ORINAME" property="oriName"></result>
		</collection>
	</resultMap>
	
	<insert id="setadd" parameterType="BoardDTO">
		<selectKey keyProperty="num" order="BEFORE" resultType="Long">
			SELECT QNA_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO QNA 
		VALUES (${num}, #{title}, #{contents},#{writer}, sysdate, 0,#{num},0,0)
	</insert>
	
	<update id="setUpdate" parameterType="BoardDTO">
		UPDATE QNA SET TITLE=#{title}, CONTENTS=#{contents} WHERE NUM=#{num}
	</update>
	
	<delete id="setDelete" parameterType="BoardDTO">
		DELETE QNA WHERE NUM=#{num}
	</delete>

</mapper>    